@{
    ViewData["Title"] = "Administration";
}

<div layout="column" flex ng-controller="AdminCtrl as main" class="main">
    <md-toolbar class="md-toolbar md-hue-2">
        <div class="md-toolbar-tools">
            <h3 style="color: #353535">
                Administration (user: @User.Identity.Name)
            </h3>
        </div>
    </md-toolbar>
    <md-content layout="row" class="wide" layout-align="top start" flex="70" layout-padding layout-fill>
        <div layout="column" flex>
            <md-card id="latest-reg" flex>
                <md-toolbar class="md-hue-2" ng-click="main.showreg = !main.showreg">
                    <div class="md-toolbar-tools">
                        <h3>Latest Registrations</h3>
                    </div>
                </md-toolbar>
                <md-card-content ng-hide="main.showreg">
                    <div ng-repeat="r in main.registrations" layout="column" layout-wrap>
                        <div flex>
                            <b>Name:</b> {{r.firstname}} {{r.lastname}}
                        </div>
                        <div flex>
                            <b>Address:</b> {{r.address1}}<br />
                            {{r.address2}}<br ng-if="r.address2" />
                            {{r.city}}, {{r.state}} {{r.postalcode}}
                        </div>
                        <div flex>
                            <b>Email:</b> {{r.Email}}
                        </div>
                        <div flex>
                            <b>Phone:</b> {{r.phone}}
                        </div>
                        <div flex>
                            <b>Registration:</b> {{r.registrationtype}}
                        </div>
                        <div flex>
                            <b>Manuscript Critiques:</b> {{r.manuscript}}<br />
                            <b>Portfolio Reviews:</b> {{r.portfolio}}
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-card id="reg-types" flex>
                <md-toolbar class="md-hue-2" ng-click="main.showtype = !main.showtype">
                    <div class="md-toolbar-tools">
                        <h3>Registration Types</h3>
                    </div>
                </md-toolbar>
                <md-card-content ng-hide="main.showtype">
                    <form name="nrt" novalidate>
                        <table class="wide">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Presenters</th>
                                    <th>Regular Price</th>
                                    <th>Late Price</th>
                                    <th>Member</th>
                                    <th>Comprehensive Only</th>
                                    <th>Saturday Only</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="t in main.regtypes">
                                    <td>{{t.title}}</td>
                                    <td>{{t.description}}</td>
                                    <td>{{t.presenters}}</td>
                                    <td>{{t.earlyprice | currency : "$" : 2}}</td>
                                    <td>{{t.lateprice | currency : "$" :2}}</td>
                                    <td>{{t.ismember === true ? "Yes" : "No"}}</td>
                                    <td>{{t.friday === true ? "Yes" : "No"}}</td>
                                    <td>{{(t.friday === false && t.sunday === false) ? "Yes" : "No"}}</td>
                                    <td>
                                        <md-button class="md-raised md-warn" ng-hide="main.delregtype[t.id]" ng-click="main.delregtype[t.id] = true;">
                                            <md-icon>delete</md-icon> Delete
                                        </md-button>
                                        <md-button class="md-raised" ng-show="main.delregtype[t.id]" ng-click="main.delregtype[t.id] = false;">
                                            <md-icon>not_interested</md-icon> Cancel
                                        </md-button>
                                        <md-button class="md-raised md-warn" ng-show="main.delregtype[t.id]" ng-click="main.deleteRegType(t.id)">
                                            <md-icon>delete</md-icon> Confirm
                                        </md-button>
                                    </td>
                                    <td>
                                        <md-button class="md-raised" ng-disabled="true" style="visibility: hidden;">
                                            <md-icon>edit</md-icon> Edit
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="!main.newregtype">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <md-button class="md-raised" ng-click="main.newregtype = !main.newregtype;">
                                            <md-icon>create</md-icon> New
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="main.newregtype">
                                    <td>
                                        <md-input-container>
                                            <label>Title</label>
                                            <input type="text" ng-model="main.newreg.title" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Description</label>
                                            <input type="text" ng-model="main.newreg.description" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Presenters</label>
                                            <input type="text" ng-model="main.newreg.presenters" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Price</label>
                                            <input type="text" ng-model="main.newreg.earlyprice" required ng-pattern="/\d+\.?\d{0,2}/" name="earlyprice" />
                                            <div ng-messages="nrt.earlyprice.$error">
                                                <div ng-message="pattern">Please enter your price without the $</div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Late Price</label>
                                            <input type="text" ng-model="main.newreg.lateprice" required ng-pattern="/\d+\.?\d{0,2}/" name="lateprice" />
                                            <div ng-messages="nrt.lateprice.$error">
                                                <div ng-message="pattern">Please enter your price without the $</div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-checkbox ng-model="main.newreg.ismember">
                                        </md-checkbox>
                                    </td>
                                    <td>
                                        <md-checkbox ng-model="main.newreg.friday">
                                        </md-checkbox>
                                    </td>
                                    <td>
                                        <md-checkbox ng-model="main.newreg.allowsworkshops">
                                        </md-checkbox>
                                    </td>
                                    <td ng-hide="main.newregloading">
                                        <md-button class="md-raised md-warn" ng-disabled="main.newregloading" ng-click="main.createregtype(false)">
                                            <md-icon>delete</md-icon>
                                            Cancel
                                        </md-button>
                                    </td>
                                    <td ng-hide="main.newregloading">
                                        <md-button class="md-raised md-primary" ng-disabled="!nrt.$valid" ng-click="main.createregtype(true)">
                                            <md-icon>create</md-icon>
                                            Save
                                        </md-button>
                                    </td>
                                    <td ng-show="main.newregloading">
                                        <md-progress-circular md-mode="indeterminate" ng-show="main.newregloading"></md-progress-circular>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </md-card-content>
            </md-card>
            <md-card id="comprehensives" flex>
                <md-toolbar class="md-hue-2" ng-click="main.showcomp = !main.showcomp">
                    <div class="md-toolbar-tools">
                        <h3>Comprehensives</h3>
                    </div>
                </md-toolbar>
                <md-card-content ng-hide="main.showcomp">
                    <form name="nc" novalidate>
                        <table class="wide">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Max Attendees</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="c in main.comprehensives">
                                    <td>{{c.title}}</td>
                                    <td>{{c.description}}</td>
                                    <td>{{c.price | currency : "$" : 2}}</td>
                                    <td>{{c.maxattendees}}</td>
                                    <td>
                                        <md-button class="md-raised md-warn" ng-click="main.deleteComprehensive(c.id)">
                                            <md-icon>delete</md-icon> Delete
                                        </md-button>
                                    </td>
                                    <td>
                                        <md-button class="md-raised" ng-disabled="true" style="visibility: hidden;">
                                            <md-icon>edit</md-icon> Edit
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="!main.newcomprehensive">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <md-button class="md-raised" ng-click="main.newcomprehensive = !main.newcomprehensive;">
                                            <md-icon>create</md-icon> New
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="main.newcomprehensive">
                                    <td>
                                        <md-input-container>
                                            <label>Title</label>
                                            <input type="text" ng-model="main.newc.title" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Description</label>
                                            <input type="text" ng-model="main.newc.description" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Price</label>
                                            <input type="text" ng-model="main.newc.price" required ng-pattern="/\d+\.?\d{0,2}/" name="price" />
                                            <div ng-messages="nc.price.$error">
                                                <div ng-message="pattern">Please enter your price without the $</div>
                                            </div>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Max Attendees</label>
                                            <input type="text" ng-model="main.newc.maxattendees" required />
                                        </md-input-container>
                                    </td>
                                    <td ng-hide="main.newcloading">
                                        <md-button class="md-raised md-warn" ng-disabled="main.newcloading" ng-click="main.createcomprehensive(false)">
                                            <md-icon>delete</md-icon>
                                            Cancel
                                        </md-button>
                                    </td>
                                    <td ng-hide="main.newcloading">
                                        <md-button class="md-raised md-primary" ng-disabled="!nc.$valid" ng-click="main.createcomprehensive(true)">
                                            <md-icon>create</md-icon>
                                            Save
                                        </md-button>
                                    </td>
                                    <td ng-show="main.newcloading">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </md-card-content>
            </md-card>
            <md-card id="meals" flex>
                <md-toolbar class="md-hue-2" ng-click="main.showmeals = !main.showmeals">
                    <div class="md-toolbar-tools">
                        <h3>Meals</h3>
                    </div>
                </md-toolbar>
                <md-card-content ng-hide="main.showmeals">
                    <form name="nm" novalidate>
                        <table class="wide">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="m in main.meals">
                                    <td>{{m.title}}</td>
                                    <td>
                                        <md-button class="md-raised md-warn" ng-click="main.deleteMeal(m.id)">
                                            <md-icon>delete</md-icon> Delete
                                        </md-button>
                                    </td>
                                    <td>
                                        <md-button class="md-raised" ng-disabled="true" style="visibility: hidden;">
                                            <md-icon>edit</md-icon> Edit
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="!main.newcomprehensive">
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <md-button class="md-raised" ng-click="main.newmeal = !main.newmeal;">
                                            <md-icon>create</md-icon> New
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="main.newmeal">
                                    <td>
                                        <md-input-container>
                                            <label>Title</label>
                                            <input type="text" ng-model="main.newm.title" required />
                                        </md-input-container>
                                    </td>
                                    <td ng-hide="main.newmloading">
                                        <md-button class="md-raised md-warn" ng-disabled="main.newmloading" ng-click="main.createmeal(false)">
                                            <md-icon>delete</md-icon>
                                            Cancel
                                        </md-button>
                                    </td>
                                    <td ng-hide="main.newmloading">
                                        <md-button class="md-raised md-primary" ng-disabled="!nm.$valid" ng-click="main.createmeal(true)">
                                            <md-icon>create</md-icon>
                                            Save
                                        </md-button>
                                    </td>
                                    <td ng-show="main.newmloading">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </md-card-content>
            </md-card>
            <md-card id="workshops" flex>
                <md-toolbar class="md-hue-2" ng-click="main.showwork = !main.showwork">
                    <div class="md-toolbar-tools">
                        <h3>
                            Workshops
                        </h3>
                    </div>
                </md-toolbar>
                <md-card-content ng-hide="main.showwork">
                    <form name="nw" novalidate>
                        <table class="wide">
                            <thead>
                                <tr>
                                    <th>title</th>
                                    <th>description</th>
                                    <th>presenters</th>
                                    <th>max attendees</th>
                                    <td>time</td>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="w in main.workshops">
                                    <td>{{w.title}}</td>
                                    <td>{{w.description}}</td>
                                    <td>{{w.presenters}}</td>
                                    <td>{{w.maxattendees}}</td>
                                    <td>{{w.time === 0 ? "first session" : "second session"}}</td>
                                    <td>
                                        <md-button class="md-raised md-warn" ng-click="main.deleteworkshop(w.id)">
                                            <md-icon>delete</md-icon> delete
                                        </md-button>
                                    </td>
                                    <td>
                                        <md-button class="md-raised" ng-disabled="true" style="visibility: hidden;">
                                            <md-icon>edit</md-icon> edit
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="!main.newworkshop">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <md-button class="md-raised" ng-click="main.newworkshop = !main.newworkshop;">
                                            <md-icon>create</md-icon> new
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="main.newworkshop">
                                    <td>
                                        <md-input-container>
                                            <label>title</label>
                                            <input type="text" ng-model="main.neww.title" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>description</label>
                                            <input type="text" ng-model="main.neww.description" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>presenters</label>
                                            <input type="text" ng-model="main.neww.presenters" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>max attendees</label>
                                            <input type="text" ng-model="main.neww.maxattendees" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>select one</label>
                                            <md-select ng-model="main.neww.time" required>
                                                <md-option value="0">first</md-option>
                                                <md-option value="1">second</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td ng-hide="main.newwloading">
                                        <md-button class="md-raised md-warn" ng-disabled="main.newwloading" ng-click="main.createworkshop(false)">
                                            <md-icon>delete</md-icon>
                                            cancel
                                        </md-button>
                                    </td>
                                    <td ng-hide="main.newwloading">
                                        <md-button class="md-raised md-primary" ng-disabled="!nw.$valid" ng-click="main.createworkshop(true)">
                                            <md-icon>create</md-icon>
                                            save
                                        </md-button>
                                    </td>
                                    <td ng-show="main.newwloading">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </md-card-content>
            </md-card>
            <md-card id="prices" flex>
                <md-toolbar class="md-hue-2" ng-click="main.showmisc = !main.showmisc">
                    <div class="md-toolbar-tools">
                        <h3>
                            Misc
                        </h3>
                    </div>
                </md-toolbar>
                <md-card-content ng-hide="main.showmisc">
                    <form name="np" novalidate>
                        <div layout="row">
                            <md-input-container>
                                <label>Manuscript Critique Price</label>
                                <input ng-model="main.manuscript" ng-pattern="/\d+\.?\d{0,2}/" name="manuscript" />
                                <div ng-messages="np.manuscript.$error">
                                    <div ng-message="pattern">Please enter your price without the $</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>Portfolio Review Price</label>
                                <input ng-model="main.portfolio" ng-pattern="/\d+\.?\d{0,2}/" name="portfolio" />
                                <div ng-messages="np.portfolio.$error">
                                    <div ng-message="pattern">Please enter your price without the $</div>
                                </div>
                            </md-input-container>
                            <md-input-container>
                                <label>Satuday Dinner Price</label>
                                <input ng-model="main.satdinner" />
                            </md-input-container>
                            <md-input-container>
                                <label>Late Registration Date</label>
                                <md-datepicker ng-model="main.latedate" md-placeholder="Late Registration Date"></md-datepicker>
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
            <md-card id="coupons" flex>
                <md-toolbar class="md-hue-2" ng-click="main.showcoupons = !main.showcoupons">
                    <div class="md-toolbar-tools">
                        <h3>
                            Coupons
                        </h3>
                    </div>
                </md-toolbar>
                <md-card-content ng-hide="main.showcoupons">
                    <form name="nco" novalidate>
                        <table class="wide">
                            <thead>
                                <tr>
                                    <th>Text</th>
                                    <th>Type</th>
                                    <th>Value</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="x in main.coupons">
                                    <td>{{x.text}}</td>
                                    <td>{{main.matchtype(x.type)}}</td>
                                    <td>{{x.value}}</td>
                                    <td>
                                        <md-button class="md-raised md-warn" ng-click="main.deletecoupon(x.id)">
                                            <md-icon>delete</md-icon> delete
                                        </md-button>
                                    </td>
                                    <td>
                                        <md-button class="md-raised" ng-disabled="true" style="visibility: hidden;">
                                            <md-icon>edit</md-icon> edit
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="!main.newcoupon">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <md-button class="md-raised" ng-click="main.newcoupon = !main.newcoupon;">
                                            <md-icon>create</md-icon> new
                                        </md-button>
                                    </td>
                                </tr>
                                <tr ng-show="main.newcoupon">
                                    <td>
                                        <md-input-container>
                                            <label>Text</label>
                                            <input type="text" ng-model="main.newco.text" required />
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Type</label>
                                            <md-select ng-model="main.newco.type" required>
                                                <md-option value="0">Percentage (x% off)</md-option>
                                                <md-option value="1">Reduction (-$x)</md-option>
                                                <md-option value="2">Set Price (free or flat fee)</md-option>
                                            </md-select>
                                        </md-input-container>
                                    </td>
                                    <td>
                                        <md-input-container>
                                            <label>Value</label>
                                            <input type="text" ng-model="main.newco.value" required />
                                        </md-input-container>
                                    </td>
                                    <td ng-hide="main.newcoloading">
                                        <md-button class="md-raised md-warn" ng-disabled="main.newcoloading" ng-click="main.createcoupon(false)">
                                            <md-icon>delete</md-icon>
                                            cancel
                                        </md-button>
                                    </td>
                                    <td ng-hide="main.newcoloading">
                                        <md-button class="md-raised md-primary" ng-disabled="!nco.$valid" ng-click="main.createcoupon(true)">
                                            <md-icon>create</md-icon>
                                            save
                                        </md-button>
                                    </td>
                                    <td ng-show="main.newcoloading">
                                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>