<!DOCTYPE html>
<html ng-app="scbwi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SCBWI Florida 2017</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/angular-material/angular-material.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="lib/angular-material/angular-material.min.css" />
    </environment>
</head>
<body layout="row" ng-controller="AppCtrl as mainapp">
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-hide="mainapp.isadmin">
        <md-toolbar class="md-toolbar md-hue-3">
            <h1 class="md-toolbar-tools">SCBWI Florida</h1>
        </md-toolbar>
        <md-list class="left-menu">
            <md-subheader>Registration</md-subheader>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step == 0}" class="md-fab md-mini">
                                0
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Membership
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step == 1}" class="md-fab md-mini">
                                1
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Basic Info
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step == 2}" class="md-fab md-mini">
                                2
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Registration Type
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step === 3}" class="md-fab md-mini" ng-disabled="!mainapp.friday">
                                3
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Comprehensives
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step === 4}" class="md-fab md-mini" ng-disabled="!mainapp.allowSunday">
                                4
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Workshops
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step === 5}" class="md-fab md-mini">
                                5
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Extras
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step === 6}" class="md-fab md-mini">
                                6
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Verify & Pay
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a>
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button ng-class="{'md-primary': mainapp.step === 7}" class="md-fab md-mini">
                                7
                            </md-button>
                        </div>
                        <div class="inset menu-text">
                            Confirmed
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" ng-show="mainapp.isadmin">
        <md-toolbar class="md-toolbar md-hue-3">
            <h1 class="md-toolbar-tools">SCBWI Florida</h1>
        </md-toolbar>
        <md-list class="left-menu">
            <md-subheader>Admin Tools</md-subheader>
            <md-list-item>
                <a href="/Admin">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button class="md-primary md-raised">
                                <md-icon>home</md-icon> Admin Panel
                            </md-button>
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
            <md-list-item>
                <a target="_blank" href="/Admin/GetCsv">
                    <md-item-content md-ink-ripple layout="row" layout-align="start center">
                        <div class="inset">
                            <md-button class="md-primary md-raised">
                                <md-icon>file_download</md-icon> Download Report
                            </md-button>
                        </div>
                    </md-item-content>
                </a>
            </md-list-item>
        </md-list>
    </md-sidenav>

    @RenderBody()

    <environment names="Development">
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/angular-material/angular-material.js"></script>
        <script src="~/lib/braintree-web/client.js"></script>
        <script src="~/lib/braintree-web/paypal.js"></script>
        @RenderSection("scripts", required: false)
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/angular-animate/angular-animate.min.js"></script>
        <script src="~/lib/angular-aria/angular-aria.min.js"></script>
        <script src="~/lib/angular-messages/angular-messages.min.js"></script>
        <script src="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/lib/braintree-web/client.js"></script>
        <script src="~/lib/braintree-web/paypal.js"></script>
        @RenderSection("scripts", required: false)
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>
</html>
