@{
    ViewData["Title"] = "View/Edit";
}

<div layout="column" flex ng-controller="PendingCtrl as main" class="main" ng-init="main.getPending(@ViewData["id"])">
    <md-toolbar class="md-toolbar md-hue-2">
        <div class="md-toolbar-tools">
            <h3 style="color: #353535">
                Single Registration
            </h3>
        </div>
    </md-toolbar>
    <md-content layout="row" class="wide" layout-align="top start" flex="70" layout-padding layout-fill>

    </md-content>
</div>